<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Empresas</title>
    <link rel="stylesheet" href="http://localhost/cadastro-empresas/app/View/assets/style/cadastroEmpresas.css">
    <link rel="stylesheet" href="http://localhost/cadastro-empresas/app/View/assets/style/button.css">
    <link rel="stylesheet" href="http://localhost/cadastro-empresas/app/View/assets/style/input.css">
</head>

<body> 
    <a class="button-voltar" href="http://localhost/cadastro-empresas/home">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
        </svg>
        Voltar
    </a>
    <div class="corpo">
        <div class="container">     
            <form name="formempresa" action="http://localhost/cadastro-empresas/cadastroEmpresas/postEmpresa" method="POST">
                
                
                <div class="row">
                    <p class="tittle"><b>Formulario de Empresas</b></p>
                    <div class="input-box">
                        <input type="text" name="nome" id="nome" class="input-user" required>
                        <label for="nome" class="input-label">Nome da Empresa</label>                  
                    </div>  
                    <div class="input-box">
                        <input type="text" name="cnpj" id="cnpj" class="input-user" required>
                        <label for="cnpj" class="input-label">CNPJ</label>
                    </div>
                    <div class="input-box">
                        <label for="data_fund">Data de Fundação:</label>
                        <br><br>
                        <input type="date" name="data_fund" id="data_fund" class="input-user" required>
                                        
                    </div>
                    <div class="input-box">
                        <input type="email" name="email" id="email" class="input-user" required onblur="validaEmail()">
                        <label for="emailEmp" class="input-label">E-mail</label>                  
                    </div>
                    <div class="input-box">
                        <input type="text" name="telefone" id="telefone" class="input-user" required>
                        <label for="telefone" class="input-label">Telefone</label>                  
                    </div>
                    <div class="input-box">
                        <input type="text" name="cep" id="cep" class="input-user" maxlength="8" value="" onblur="pesquisacep(this.value);" required> 
                        <label for="cep" class="input-label">CEP</label>                                       
                    </div>
                    <div class="input-box">
                        <input type="text" name="endereco" id="endereco" class="input-user" required>
                        <label for="endereco" class="input-label">Endereço</label>                  
                    </div>
                    <input type="hidden" name="id_usuario">
                    <input type="submit" value="Cadastrar" id="button" class="cadastrar-empresas"  name="submit">
                </div>                            
            </form>
        </div>
    </div>
    
    <script type="text/javascript">

            // Definição de Mascara 
            function mask(o,f){
                v_obj=o
                v_fun=f
                setTimeout("execmask()",1)
            }

            function execmask(){
                v_obj.value=v_fun(v_obj.value)
            }

            function masktel(v){
                v=v.replace(/\D/g,"");
                v=v.replace(/^(\d{2})(\d)/g,"($1) $2");
                v=v.replace(/(\d)(\d{4})$/,"$1-$2");
                return v;
            }

            function maskcnpj(v){
                v=v.replace(/\D/g,"");                        
                v=v.replace(/^(\d{2})(\d)/,"$1.$2");          
                v=v.replace(/^(\d{2})\.(\d{3})(\d)/,"$1.$2.$3");
                v=v.replace(/\.(\d{3})(\d)/,".$1/$2");       
                v=v.replace(/(\d{4})(\d)/,"$1-$2");
                return v;
            }

            function maskcep(v){
                v=v.replace(/\D/g,"");                        
                v=v.replace(/^(\d{2})(\d)/,"$1$2");          
                v=v.replace(/^(\d{2})(\d{3})(\d)/,"$1$2-$3");
                return v;
            }

            function idcss( el ){
                return document.getElementById( el );
            }

            window.onload = function(){
                
                idcss('telefone').setAttribute('maxlength', 15);
                idcss('telefone').onkeypress = function(){
                    mask( this, masktel );
                }
                
                idcss('cnpj').setAttribute('maxlength', 18);
                idcss('cnpj').onkeypress = function(){
                    mask( this, maskcnpj );
                }

                idcss('cep').setAttribute('maxlength', 10);
                idcss('cep').onkeypress = function(){
                    mask( this, maskcep );
                }

                idcss('nome').setAttribute('minlength', 5);
                idcss('nome').addEventListener('required', function(){
                    idcss('nome').setCustomValidity('');
                }, false);
                idcss('nome').addEventListener('change', function(){
                    idcss('nome').setCustomValidity('');
                }, false);
                    
            }
            // Fim Definição de Mascara


            // Buscar CEP 
            function limpa_formulário_cep() {
                document.getElementById('endereco').value=("");
                
            }

            function meu_callback(conteudo) {
                if (!("erro" in conteudo)) {
                    document.getElementById('endereco').value=(conteudo.logradouro);
                    
                }
                else {
                    limpa_formulário_cep();
                    alert("CEP não encontrado.");
                }
            }
        
            function pesquisacep(valor) {

                var cep = valor.replace(/\D/g, '');

                if (cep != "") {

                    var validacep = /^[0-9]{8}$/;

                    if(validacep.test(cep)) {

                        document.getElementById('endereco').value="...";
                        

                        var script = document.createElement('script');

                        script.src = 'https://viacep.com.br/ws/'+ cep + '/json/?callback=meu_callback';

                        document.body.appendChild(script);
                    } else {
                        limpa_formulário_cep();
                        alert("Formato de CEP inválido.");
                    }
                } else {
                    limpa_formulário_cep();
                }
            };
            // Fim Buscar CEP

            // Valida Campo Email
            function validaEmail(){
                var email = formempresa.email.value;
           

                function limpa_campo_email() {
                    document.getElementById('email').value=("");
                
                }

                if(email.includes('email')){
                    limpa_campo_email();
                    alert('Email inválido!');   
                }

            }
            //Fim Valida Campo Email

    </script>

</body>
</html>