<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="http://localhost/cadastro-empresas/assets/style/cadastroStyle.css">
    <link rel="stylesheet" href="http://localhost/cadastro-empresas/assets/style/button.css">
    <link rel="stylesheet" href="http://localhost/cadastro-empresas/assets/style/input.css">
</head>
<body>
    <div class="container">
        
        <form action="" method="POST">
            <h2 class="tittle"><b>Formulario de usuarios</b></h2>
            
            <div class="row">
                <div class="input-box">
                    <input type="text" name="nome" id="nome" class="input-user" required>
                    <label for="nome" class="input-label">Nome</label>                  
                </div>  
                <br><br>
                <div class="input-box">
                    <input type="text" name="cnpj" id="cnpj" class="input-user" required>
                    <label for="cnpj" class="input-label">CNPJ</label>
                </div>
                <br><br>
                <div class="input-box">
                    <input type="text" name="data_fund" id="data_fund" class="input-user" required>
                    <label for="data_fund" class="input-label">Data de Fundação</label>                  
                </div>
                <div class="input-box">
                    <input type="text" name="emailEmp" id="emailEmp" class="input-user" required>
                    <label for="emailEmp" class="input-label">E-mail</label>                  
                </div>
                <div class="input-box">
                    <input type="text" name="telefone" id="telefone" class="input-user" required>
                    <label for="telefone" class="input-label">Telefone</label>                  
                </div>
                <div class="input-box">
                    <input type="text" name="cep" id="cep" class="input-user" required>
                    <label for="cep" class="input-label">CEP</label>                  
                </div>
                <div class="input-box">
                    <input type="text" name="endereco" id="endereco" class="input-user" required>
                    <label for="endereco" class="input-label">Endereço</label>                  
                </div>
                <input type="submit" value="Cadastrar" id="button" class="cadastrar"  name="submit" onchange="">
            </div>   
            
                              
               
            
            
        </form>
    </div>
</body>
</html>