<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Empresa</title>
    <link rel="stylesheet" href="http://localhost/cadastro-empresas/app/View/assets/style/cadastroEmpresas.css">
    <link rel="stylesheet" href="http://localhost/cadastro-empresas/app/View/assets/style/button.css">
    <link rel="stylesheet" href="http://localhost/cadastro-empresas/app/View/assets/style/input.css">
</head>

<body> 
    <a class="button-voltar" href="http://localhost/cadastro-empresas/home">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
        </svg>
        Voltar
    </a>
    <div class="corpo">
        <div class="container" style="height: 610px;">     
            <form action="http://localhost/cadastro-empresas/editarEmpresa/editEmpresa" method="POST">
                
                
                <div class="row" onload="preencheCampo()">
                    <p class="tittle"><b>Editar Empresa</b></p>
                    <div class="input-box">
                        <input type="text" name="nome" id="nome" class="input-user" required>
                        <label for="nome" class="input-label">Nome da Empresas</label>                  
                    </div>  
                    <div class="input-box">
                        <input type="text" name="cnpj" id="cnpj" class="input-user" required>
                        <label for="cnpj" class="input-label">CNPJ</label>
                    </div>
                    <div class="input-box">
                        <label for="data_fund">Data de Fundação:</label>
                        <br><br>
                        <input type="date" name="data_fund" id="data_fund" class="input-user" required>
                                        
                    </div>
                    <div class="input-box">
                        <input type="text" name="email" id="email" class="input-user" required>
                        <label for="emailEmp" class="input-label">E-mail</label>                  
                    </div>
                    <div class="input-box">
                        <input type="text" name="telefone" id="telefone" class="input-user" required>
                        <label for="telefone" class="input-label">Telefone</label>                  
                    </div>
                    <div class="input-box">
                        <input type="text" name="cep" id="cep" class="input-user" onblur="pesquisacep(this.value);" required>
                        <label for="cep" class="input-label">CEP</label>                  
                    </div>
                    <div class="input-box">
                        <input type="text" name="endereco" id="endereco" class="input-user" required>
                        <label for="endereco" class="input-label">Endereço</label>                  
                    </div>
                    <input type="submit" value="Editar" id="button" class="cadastrar-empresas" name="submit">
                    <br><br>
                    <a href="http://localhost/cadastro-empresas/cadastroEmpresas/deleteEmpresa" style="text-decoration: none; justify-content: center; display: flex; color: white;
                     background-color: rgb(181, 0, 0); border-radius: 10px;  padding: 10px;">Deletar</a>
                 
                </div>                            
            </form>
        </div>
    </div>
    
    <script type="text/javascript">
   
            function mask(o,f){
                v_obj=o
                v_fun=f
                setTimeout("execmask()",1)
            }

            function execmask(){
                v_obj.value=v_fun(v_obj.value)
            }

            function masktel(v){
                v=v.replace(/\D/g,"");
                v=v.replace(/^(\d{2})(\d)/g,"($1) $2");
                v=v.replace(/(\d)(\d{4})$/,"$1-$2");
                return v;
            }

            function maskcnpj(v){
                v=v.replace(/\D/g,"");                        
                v=v.replace(/^(\d{2})(\d)/,"$1.$2");          
                v=v.replace(/^(\d{2})\.(\d{3})(\d)/,"$1.$2.$3");
                v=v.replace(/\.(\d{3})(\d)/,".$1/$2");       
                v=v.replace(/(\d{4})(\d)/,"$1-$2");
                return v;
            }

            function maskcep(v){
                v=v.replace(/\D/g,"");                        
                v=v.replace(/^(\d{2})(\d)/,"$1$2");          
                v=v.replace(/^(\d{2})(\d{3})(\d)/,"$1$2-$3");
                return v;
            }

            function idcss( el ){
                return document.getElementById( el );
            }

            window.onload = function(){
                
                idcss('telefone').setAttribute('maxlength', 15);
                idcss('telefone').onkeypress = function(){
                    mask( this, masktel );
                }

                idcss('cnpj').setAttribute('maxlength', 18);
                idcss('cnpj').onkeypress = function(){
                    mask( this, maskcnpj );
                }
 
                idcss('cep').setAttribute('maxlength', 10);
                idcss('cep').onkeypress = function(){
                    mask( this, maskcep );
                }
  
                idcss('nome').setAttribute('minlength', 5);
                idcss('nome').addEventListener('required', function(){
                    idcss('nome').setCustomValidity('');
                }, false);
                idcss('nome').addEventListener('change', function(){
                    idcss('nome').setCustomValidity('');
                }, false);
                            

            }

            function limpa_formulário_cep() {
                document.getElementById('endereco').value=("");
                
            }

            function meu_callback(conteudo) {
                if (!("erro" in conteudo)) {
                    document.getElementById('endereco').value=(conteudo.logradouro);
                    
                }
                else {
                    limpa_formulário_cep();
                    alert("CEP não encontrado.");
                }
            }
        
            function pesquisacep(valor) {

                var cep = valor.replace(/\D/g, '');

                if (cep != "") {

                    var validacep = /^[0-9]{8}$/;

                    if(validacep.test(cep)) {

                        document.getElementById('endereco').value="...";
                        

                        var script = document.createElement('script');

                        script.src = 'https://viacep.com.br/ws/'+ cep + '/json/?callback=meu_callback';

                        document.body.appendChild(script);
                    } else {
                        limpa_formulário_cep();
                        alert("Formato de CEP inválido.");
                    }
                } else {
                    limpa_formulário_cep();
                }
            };

            function preencheCampo(){

                var xhr = new XMLHttpRequest();
                var empresaList = document.querySelector(".empresaList");

                var nome = document.querySelector("#nome");
                var cnpj = document.querySelector("#cnpj");
                var data_fund = document.querySelector("#data_fund");
                var email = document.querySelector("#email");
                var telefone = document.querySelector("#telefone");
                var cep = document.querySelector("#cep");
                var endereco = document.querySelector("#endereco");

                var result;     

                xhr.responseType = "json"
                xhr.onreadystatechange = function(){

                    if(xhr.readyState == 4 && xhr.status == 200){
                        result = xhr.response;
                        console.log(result);

                        for(var i = 0; i < result.length; i++){                       
                                
                                nome.value = result[i].nome;
                                cnpj.value = result[i].cnpj;
                                data_fund.value = result[i].data_fund;
                                email.value = result[i].email;
                                telefone.value = result[i].telefone;
                                cep.value = result[i].cep;
                                endereco.value = result[i].endereco;
                        }
                    }
                }
            

                xhr.open("GET",`http://localhost/cadastro-empresas/cadastroEmpresas/getEmpresa`)
            
                xhr.send();
            }

            preencheCampo();


    </script>

</body>
</html>