<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="home">MV Systems</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
        <li class="nav-item active">
            <a class="nav-link" href="home">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="cadastroEmpresas">Cadastrar empresas</a>
        </li>   
        <li class="nav-item">
            <a class="nav-link" href="http://localhost/cadastro-empresas/home/logout" id="sair" >
                Sair
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
            </div>
        </li>
        </ul>
    </div>
    </nav>


    
    <div class="m-5">
        <table class="table table-dark table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nome da Empresa</th>
                    <th scope="col">CNPJ</th>
                    <th scope="col">Data de Fundação</th>
                    <th scope="col">E-mail</th>
                    <th scope="col">Telefone</th>
                    <th scope="col">CEP</th>
                    <th scope="col">Endereço</th>
                    <th scope="col">...</th>
                </tr>
            </thead>
            <tbody class="empresaList" onload="getEmpresa()">
                <span id="msgAlerta"> </span>
            </tbody>
    
        </table>
    </div>

    <!-- Inicio Modal Editar Empresa -->

    <div class="modal fade" id="editEmpresaModal" tabindex="-1" aria-labelledby="editEmpresaModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editEmpresaModalLabel">Editar Usuário</h5>
                    <button type="button" class="btn btn-outline-warning btn-close btn-sm" data-bs-dismiss="modal" aria-label="Close">Close x</button>
                </div>
                <div class="modal-body">

                    <span id="msgAlertaErroEdit"></span>

                    <form class="row g-3" id="edit-empresa-form">
                        <input type="hidden" name="id_empresa" id="id_empresa">

                        <div class="col-12">
                            <label for="email" class="form-label">Nome da Empresa</label>
                            <input type="text" name="nome" class="form-control" id="nome" placeholder="Nome da empresa">
                        </div>

                        <div class="col-12">
                            <label for="email" class="form-label">CNPJ</label>
                            <input type="text" name="cnpj" class="form-control" id="cnpj" placeholder="CNPJ">
                        </div>

                        <div class="col-12">
                            <label for="email" class="form-label">Data de Fundação</label>
                            <input type="date" name="data_fund" class="form-control" id="data_fund" placeholder="Data de Fundação">
                        </div>

                        <div class="col-12">
                            <label for="email" class="form-label">E-mail</label>
                            <input type="text" name="email" class="form-control" id="email" placeholder="Email">
                        </div>
                        
                        <div class="col-12">
                            <label for="email" class="form-label">Telefone</label>
                            <input type="text" name="telefone" class="form-control" id="telefone" placeholder="Telefone">
                        </div>

                        <div class="col-12">
                            <label for="email" class="form-label">CEP</label>
                            <input type="text" name="cep" class="form-control" id="cep" onblur="pesquisacep(this.value);" placeholder="CEP">
                        </div>

                        <div class="col-12">
                            <label for="email" class="form-label">Endereço</label>
                            <input type="text" name="endereco" class="form-control" id="endereco" placeholder="Endereço">
                        </div>
                        
                        <div class="col-12">
                            <br>
                            <input type="submit" class="btn btn-outline-success btn-sm" id="edit-empresa-btn" value="Editar">
                            <a href="#"id=buttomModal></a>
                        </div>
                        <div class="col-12">
                            
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Fim Modal Editar Empresa -->

    <script>
        // Buscar Empresas
        const getEmpresa = async(pagina) => {
            
            var xhr = await new XMLHttpRequest();
            var empresaList = document.querySelector(".empresaList")

            var result;     

            xhr.responseType = "json"
            xhr.onreadystatechange = function(){
                if(xhr.readyState == 4 && xhr.status == 200){
                    result = xhr.response;

                    if(!result['status']){
                        document.getElementById("msgAlerta").innerHTML = result['msg'];
                    } else{
                        const conteudo = document.querySelector('.empresaList');
                        if (conteudo){
                            conteudo.innerHTML = result['dados']
                        }
                    }
                }
            }          
            
            xhr.open("GET","http://localhost/cadastro-empresas/cadastroEmpresas/getEmpresa?pagina=" + pagina)
            
            xhr.send();
        }
        // Fim Buscar Empresas

        getEmpresa(1);

        // Buscar Empresa por ID
        async function getEmpresaById(id) {
            let xhr = await new XMLHttpRequest();

            let result;
            xhr.responseType = "json"
            xhr.onreadystatechange = function(){
                if(xhr.readyState == 4 && xhr.status == 200){
                    result = xhr.response;
                    console.log(result);
                    
                    if(!result['status']){
                        document.getElementById('msgAlerta').innerHTML = result['msg'];
                    } else {
                        document.getElementById('msgAlerta').innerHTML = "";
                        const visModal = new bootstrap.Modal(document.getElementById('editEmpresaModal'));
                        visModal.show();

                        document.getElementById("id_empresa").value = result['dados'].id_empresa;
                        document.getElementById("nome").value = result['dados'].nome;
                        document.getElementById("cnpj").value = result['dados'].cnpj;
                        document.getElementById("data_fund").value = result['dados'].data_fund;
                        document.getElementById("email").value = result['dados'].email;
                        document.getElementById("telefone").value = result['dados'].telefone;
                        document.getElementById("cep").value = result['dados'].cep;
                        document.getElementById("endereco").value = result['dados'].endereco;
                        document.getElementById("buttomModal").innerHTML = `<a type='submit' class='btn btn-outline-danger btn-sm' onclick='deleteEmpresa(${result['dados'].id_empresa})' id='edit-empresa-btn' value='Deletar'>Deletar</a>`;
                        
                        
                    }
                
                }
            
            }
            xhr.open("GET","http://localhost/cadastro-empresas/editarEmpresa/getEmpresaById?id=" + id);
            
            xhr.send();
        }   
        //Fim Buscar Empresa por ID

        // Deletar Empresa
        async function deleteEmpresa(id){
            
            const dados = await fetch('http://localhost/cadastro-empresas/cadastroEmpresas/deleteEmpresa?id=' + id)
            const result = await dados;
            //console.log(result);

            if (!result['status']){
                document.getElementById("msgAlerta").innerHTML = result['msg'];
            } else { 
                document.getElementById("msgAlerta").innerHTML = result['msg'];
                getEmpresa(1);
            }
        }               
        // Fim Deletar Empresa


        // Editar Empresa
        const editForm = document.getElementById("edit-empresa-form");
        if (editForm) {
            editForm.addEventListener("submit", async (e) => {
                e.preventDefault();

                const dadosForm = new FormData(editForm);

                document.getElementById("edit-empresa-btn").value = "Salvando...";

                const dados = await fetch("http://localhost/cadastro-empresas/editarEmpresa/editEmpresa", {
                    method: "POST",
                    body: dadosForm
                });

                const result = await dados.json();

                if (!result['status']) {
                    document.getElementById("msgAlertaErroEdit").innerHTML = result['msg'];
                } else {
                    document.getElementById("msgAlertaErroEdit").innerHTML = result['msg'];
                    getEmpresa(1);
                }

                console.log(result);

                document.getElementById("edit-empresa-btn").value = "Salvar";

            });
        }
        // Fim Editar Empresa


        // Definição de mascara
        function mask(o,f){
                v_obj=o
                v_fun=f
                setTimeout("execmask()",1)
            }

            function execmask(){
                v_obj.value=v_fun(v_obj.value)
            }

            function masktel(v){
                v=v.replace(/\D/g,"");
                v=v.replace(/^(\d{2})(\d)/g,"($1) $2");
                v=v.replace(/(\d)(\d{4})$/,"$1-$2");
                return v;
            }

            function maskcnpj(v){
                v=v.replace(/\D/g,"");                        
                v=v.replace(/^(\d{2})(\d)/,"$1.$2");          
                v=v.replace(/^(\d{2})\.(\d{3})(\d)/,"$1.$2.$3");
                v=v.replace(/\.(\d{3})(\d)/,".$1/$2");       
                v=v.replace(/(\d{4})(\d)/,"$1-$2");
                return v;
            }

            function maskcep(v){
                v=v.replace(/\D/g,"");                        
                v=v.replace(/^(\d{2})(\d)/,"$1$2");          
                v=v.replace(/^(\d{2})(\d{3})(\d)/,"$1$2-$3");
                return v;
            }

            function idcss( el ){
                return document.getElementById( el );
            }

            window.onload = function(){
                
                idcss('telefone').setAttribute('maxlength', 15);
                idcss('telefone').onkeypress = function(){
                    mask( this, masktel );
                }

                idcss('cnpj').setAttribute('maxlength', 18);
                idcss('cnpj').onkeypress = function(){
                    mask( this, maskcnpj );
                }
 
                idcss('cep').setAttribute('maxlength', 10);
                idcss('cep').onkeypress = function(){
                    mask( this, maskcep );
                }
  
                idcss('nome').setAttribute('minlength', 5);
                idcss('nome').addEventListener('required', function(){
                    idcss('nome').setCustomValidity('');
                }, false);
                idcss('nome').addEventListener('change', function(){
                    idcss('nome').setCustomValidity('');
                }, false);
                            

            }
            // Fim Definição de mascara

            // Buscar CEP
            function limpa_formulário_cep() {
                document.getElementById('endereco').value=("");
                
            }

            function meu_callback(conteudo) {
                if (!("erro" in conteudo)) {
                    document.getElementById('endereco').value=(conteudo.logradouro);
                    
                }
                else {
                    limpa_formulário_cep();
                    alert("CEP não encontrado.");
                }
            }

            function pesquisacep(valor) {

                var cep = valor.replace(/\D/g, '');

                if (cep != "") {

                    var validacep = /^[0-9]{8}$/;

                    if(validacep.test(cep)) {

                        document.getElementById('endereco').value="...";
                        

                        var script = document.createElement('script');

                        script.src = 'https://viacep.com.br/ws/'+ cep + '/json/?callback=meu_callback';

                        document.body.appendChild(script);
                    } else {
                        limpa_formulário_cep();
                        alert("Formato de CEP inválido.");
                    }
                } else {
                    limpa_formulário_cep();
                }
            };
            // Fim Buscar CEP

        
    </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>