<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="http://localhost/cadastro-empresas/app/View/assets/style/login.css">
    <link rel="stylesheet" href="http://localhost/cadastro-empresas/app/View/assets/style/input.css">
    <link rel="stylesheet" href="http://localhost/cadastro-empresas/app/View/assets/style/button.css">
</head>
<body>
    <div class="container">
        <div class="row">
          <div class="col-insert">   
                <form action="login/verificaLogin" method="POST">
                    <div>
                        <h1 class="tittle-login">Login</h1>
                    </div>
                   
                    <div class="input-box">
                        <input type="text" name="email" id="nick" class="input-user" required>
                        <label for="nick" class="input-label">Email</label>
                    </div>
                    <br><br>
                    <div class="input-box">
                        <input type="password" name="senha" id="pass" class="input-user" required>
                        <label for="pass" class="input-label">Password</label>
                    </div>
                    
                    <input type="submit" value="Entrar" id="button" class="login-button" name="submit">
                </form>  
          </div>
          <div class="col-info">
            <div>
                <h2>Bem vindo!</h2>
                <h3 class="h3">Ralize o seu login ou cadastre-se abaixo.</h3>

                <a class="cadastro-button" href="cadastro">Cadastro</a>
            </div>         
          </div>
        </div>
    </div>
      
</body>
</html>